body {
  background-color: black;
}

.presentacion {
 font-size: 1.5em;
  color: #00FF00;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00;
}

.cursor {
  display: inline-block;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  color: white;
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: #00FF00 1px 1px;
  background-color: dark;
}