body {
    background-color: black;
}

h1{
      color:white;
  text-shadow: 
    0 0 3px #00FF00,
    0 0 6px #00FF00,
    0 0 12px #00FF00;
    cursor: crosshair;
    text-decoration: underline;
}

.presentacion{
     font-size: 1.3em;
  color: #00FF00;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00;
}