body {
    background-color: black;
}

h1{
    color:white;
    text-shadow: 
    0 0 3px #00FF00,
    0 0 6px #00FF00,
    0 0 12px #00FF00;
    text-decoration: underline;
    text-align: center;
}
.presentacion{
  font-size: 1.3em;
  color: #00FF00;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00;
}

.flechaAtras{
    display: flex;
    gap: 24%;
}

img {
    height: 60px;
    width: 40px;
    padding: 20px 20px 20px 20px;
}
