

body{
    background-color: black;
}

h1{
    color:white;
    text-shadow: 
    0 0 3px #00FF00,
    0 0 6px #00FF00,
    0 0 12px #00FF00;
    text-decoration: underline;
    text-align: center;
}

.flechaAtras{
    display: flex;
    gap: 15%;
    max-width: 1200px;
}

img {
    padding: 20px 20px 20px 20px;
}